* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    color: #333333;
    font-size: 14px;
    background: #f8f8f8;
    z-index: 1;
    max-width: 1920px;
}

body:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    min-width: 1200px;
    width: 100%;
    height: 700px;
    background-color: #abeafa;
    z-index: -1;
}

a {
    color: #333333;
}

ul {
    list-style: none;

}

.wrapper {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

/*---Header top---*/

.header-top {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}

.logo {
    margin-left: 70px;
    display: block;
}

.logo:hover {
    opacity: .7;
}

.header-top ul {
    display: flex;
    padding-top: 5px;

}

.header-top ul li {
    margin-right: 10px;
    height: 30px;
    width: 30px;
    text-align: left;
}

.header-top ul li:last-child {
    margin-right: 20px;


}

.header-top ul li:hover {
    background: #e24602;
}

.header-top ul li:hover:last-child {
    background: none;
}

.header_fb {
    background: url('../img/social_top.png') no-repeat 11px 7px;
    width: 100%;
    height: 100%;
    display: block;
}

.header_tw {
    background: url('../img/social_top.png') no-repeat -15px 7px;
    width: 100%;
    height: 100%;
    display: block;
}

.header_yt {
    background: url('../img/social_top.png') no-repeat -43px 7px;
    width: 100%;
    height: 100%;
    display: block;
}

.header_pi {
    background: url('../img/social_top.png') no-repeat -70px 7px;
    width: 100%;
    height: 100%;
    display: block;
}

.header_in {
    background: url('../img/social_top.png') no-repeat -97px 7px;
    width: 100%;
    height: 100%;
    display: block;
}

.header_lang {
    text-transform: uppercase;
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 10px;
    color: #fff;
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    padding-top: 10px;
}

.header_lang:after {
    content: '';
    position: absolute;
    right: 2px;
    bottom: 6px;
    border: 5px solid transparent;
    border-top: 6px solid #e9e9e9;
}

.header-top ul li:hover .header_lang,
.header_lang:after {
    color: #e24602;
}

/* ---Header top END---*/

/* ---Header bottom---*/

/* ---user cart---*/

.header-bottom {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.header-bottom-left {
    max-width: 270px;
}

.user-cart-search {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.user-cart-search ul {
    margin: 0;
    padding: 0;
}

.login-wish {
    margin: 0;
    padding: 0;
    background: #f8f8f8;
    display: flex;
    justify-content: space-between;

}

.login-wish li {
    padding: 5px 30px;
}

.login-wish li a {
    font-family: 'Raleway';
    font-size: 12px;
    font-weight: 300;
    color: #fb4d01;
    text-transform: uppercase;
}

.login-wish li a:hover {
    text-decoration: underline;
}

.login-wish li a span {
    text-transform: none;
}

.cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px 20px;
    background: #fb4d01;
}

.cart-icon {
    width: 41px;
    height: 35px;
}

.cart-icon:hover {
    opacity: .7;
}

.cart-icon a {
    width: 100%;
    height: 100%;
    display: block;
    background: url(../img/public-sprite.png) -133px -5px;
}

.cart p {
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    width: 55%;
    margin: 0;

}

.cart p a {
    font-family: 'Raleway';
    font-weight: normal;
    font-size: 12px;
    color: #faef03;
}

.cart p a:hover {
    text-decoration: underline;
}

.cart-edit {
    font-family: 'Raleway';
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.cart-edit li {
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}

.cart-edit li:last-child {
    margin-bottom: 0;
}

.plus {
    width: 14px;
    height: 13px;
}

.plus a {
    width: 100%;
    background: url(../img/public-sprite.png) -109px -5px;
    height: 100%;
    display: block;
}

.plus a:hover {
    opacity: .7;
}

.cart-edit li a:hover {
    text-decoration: underline;
}

.user-cart-search .view-check {
    display: flex;
    justify-content: space-between;
}

.view-check li {
    background: #ee4a02;
    width: 100%;
    padding: 7px;
}

.view-check li:hover {
    background: #faef03;
}

.view-check li:last-child {
    background: #e24602;
}

.view-check li:last-child:hover {
    background: #faef03;
}

.view-check li a {
    text-align: center;
    width: 100%;
    display: block;
    color: #fff;
    font-family: 'Raleway';
    font-size: 11px;
    text-transform: uppercase;
}

.search {
    display: flex;
    position: relative;
}

.search input[type="text"] {
    padding: 8px 10px;
    background: #e9e9e9;
    border: none;
    width: 236px;
    font-size: 11px;
    text-transform: uppercase;
    font-family: 'Raleway';

}

.search input[type="submit"] {
    background: #333;
    width: 34px;
    height: 34px;
    border: none;
    cursor: pointer;
}

.search input[type="submit"]:hover {
    background: #fb4d01;
}

.search:after {
    content: '';
    background: url(../img/public-sprite.png) -64px -5px;
    position: absolute;
    width: 12px;
    height: 13px;
    right: 11px;
    top: 10px;


}

.search:before {
    content: '';
    width: 9px;
    height: 9px;
    position: absolute;
    right: 40px;
    top: 12px;
    background: url('../img/public-sprite.png') -23px -5px;
    cursor: pointer;
}

/* ---Yellow banner---*/

.yellow-banner {
    background: #fff51f;
    text-align: left;
    margin-top: 10px;
    height: 300px;
    width: 270px;
    padding: 70px 20px;

}

.yellow-banner h2 {
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 30px;
    text-transform: uppercase;
    margin: 0;
    line-height: 30px;
    padding-bottom: 24px;

}

.yellow-banner p {
    font-family: 'Raleway';
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    line-height: 15px;
    letter-spacing: 0.1px;
    margin: 0;
}

/* ---Slider with dots---*/

.slider-control {
    align-self: flex-end;
    margin-left: 145px;

}

.slider-control input[type="radio"] {
    border: 0;
    height: 0;
    visibility: hidden;
    margin-right: 34px;
}

.slider-control label + input[type="radio"]:hover:after,
.slider-control label + input[type="radio"]:checked:after {
    background-color: #fb4d01;
}

.slider-control input[type="radio"]:after {
    content: '';
    visibility: visible;
    display: block;
    width: 40px;
    height: 4px;
    background: #fff51f;
    cursor: pointer;
}

.header-bottom-right {
    padding-top: 60px;

}

.slider-content {
    width: 420px;
   
}

.slider {
    color: #fff51f;
    width: 80%;
    padding-right: 30px;
}

.slider h1 {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 48px;
    margin: 0;
    line-height: 34px;
    text-transform: uppercase;
}

.slider p {
    margin: 0;
    padding-top: 5px;
    font-family: 'Raleway';
    font-size: 18px;
    line-height: 24px;
}

.banner-btn {
    background: #fff51f;
    display: inline-block;
    font-family: 'Raleway';
    font-weight: 900;
    font-style: normal;
    font-size: 14px;
    padding: 16px 25px;
    text-transform: uppercase;
    margin-top: 60px;
}

.banner-btn:hover {
    background: #fb4d01;
}

.slider-arrows {
    position: absolute;
    right: 30px;
    top: 30%;
}

.left-arrow {
    position: absolute;
    width: 30px;
    height: 50px;
    background: url(../img/public-sprite.png) -77px 13px #fff;
    transform: scaleX(-1);
    right: 0;
}

.left-arrow:hover {
    position: absolute;
    width: 30px;
    height: 50px;
    background: url(../img/public-sprite.png) -77px 13px #fb4d01;
    transform: scaleX(-1);
    right: 0;


}

.right-arrow {
    position: absolute;
    width: 30px;
    height: 50px;
    background: url(../img/public-sprite.png) -77px 13px #fff51f;

}

.right-arrow:hover {
    position: absolute;
    width: 30px;
    height: 50px;
    background: url(../img/public-sprite.png) -77px 13px #fb4d01;

}

/*Content*/

.main-content {
    margin-top: 45px;
    display: flex;

}

/*aside*/

aside {
    max-width: 270px;
}

.widget {
    margin-top: 30px;
    background: #fff;
    padding-left: 30px;
    padding-bottom: 20px;
}

.widget ul {
    margin: 0;
    padding: 0;
}

.widget h3 {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 18px;
    font-weight: 900;
    font-style: italic;
    font-size: 24px;
}

.navigation {
    text-transform: uppercase;
}

.navigation h3 {
    margin: 0;
    background: #333333;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 0 40px;
    padding-top: 35px;
    padding-bottom: 20px;
}

.navigation ul {
    padding: 0;
    margin: 0;
    background: #26d2fc;
    font-weight: 900;
    font-size: 14px;

}

.navigation ul li a {
    display: block;
    padding: 11px 40px 10px 40px;
    color: #000;
}

.navigation ul li a:hover {
    background: #333333;
    color: #fff;
}

.aside-banner {
    margin-top: 30px;
    background: #e0e0e0;
    height: 300px;
}

.aside-banner h2 {
    width: 40%;
    padding: 129px 0 0 132px;
    font-family: 'Raleway';
    font-weight: 900;
    font-size: 36px;
    font-style: italic;
    text-transform: uppercase;
    margin: 0;
    line-height: 36px;
}

.tags-widget {
    margin-top: 30px;
    background: #fff;
    padding-left: 30px;
    padding-right: 22px;
    padding-bottom: 20px;
    height: 394px;
}


.tags-widget ul {
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    padding-bottom: 15px;
}

.tags-widget ul li {

    background: #e9e9e9;
    margin: 4px 8px 4px 0;
}

.tags-widget ul li a {
    display: block;
    padding: 11px 12px 8px 11px;
}

.tags-widget ul li a:hover {
    background: #faef03;
    color: #000;
    font-weight: 600;
}

.view-all {
    color: #000;
    font-style: italic;
    font-weight: 600;
    position: relative;

}

.view-all:after {
    content: '→';
    padding-left: 4px;
}

.view-all:hover {
    opacity: .7;

}

.article-experts {
    padding-right: 60px;
}

.article-experts ul li {
    margin-bottom: 18px;
}

.article-experts ul li a {
    color: #555555;
}

.article-experts ul li a:hover {
    color: #000;
    font-weight: 600;
}

/* content */

.content {
    background: #f8f8f8;
    width: 870px;
    margin-left: 30px;
}

.shop-widget {
    margin-top: 30px;
   position: relative;
}
.shop-widget:before {
  content: '';
    width:8px;
    height: 12px;
    position: absolute;
    background: url(../img/public-sprite.png) -5px -5px;
    top:7px;
    right:53px;
    -webkit-transform: rotate(180deg);
    -ms-transform:rotate(180deg) ;
    -o-transform:rotate(180deg) ;
    transform:rotate(180deg) ;
    cursor: pointer;
}
.shop-widget:after {
  content: '';
    width:8px;
    height: 12px;
    position: absolute;
    background: url(../img/public-sprite.png) -5px -5px;
    top:7px;
    right:33px;
    cursor: pointer;
}
.shop-widget h2 {
    padding: 0 30px;
    margin: 0;
    color: #707070;
    font-weight: 900;
    font-style: italic;
    font-size: 22px;
    text-transform: uppercase;
}

.shop-content {
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.shop-item {
    background: #fff;
    width: 270px;
    height: 320px;
    position: relative;
    margin-right: 30px;
    margin-top: 30px;
}
.shop-item:nth-child(3n+3){
    margin-right:0;
}
.marked-new:before {
	  content: 'NEW';
    position: absolute;
    top:10px;
    right:5px;
    z-index: 10;
    font-size: 9px;
    color:#fff;  
}
.marked-new:after {
    content: '';
    position: absolute;
     top:0;
    right:0;
    top:0;
    right:0;
    border: 25px solid transparent;
    border-top: 25px solid #e24602;
    border-right: 25px solid #e24602;
}
.marked-hot:before {
	  content: 'HOT';
    position: absolute;
    top:10px;
    right:5px;
    z-index: 10;
    font-size: 9px;
    color:#000;  
}
.marked-hot:after {
    content: '';
    position: absolute;
     top:0;
    right:0;
    top:0;
    right:0;
    border: 25px solid transparent;
    border-top: 25px solid #faef03;
    border-right: 25px solid #faef03;
}

.shop-item a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.shop-item:hover {
    transform: scale(1.04);
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -ms-transform: scale(1.04);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.shop-item img {
    width: 100%;
    height: auto;
    display: block;

}

.shop-item-info {
    font-style: italic;
    font-weight: 900;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.shop-item-price {
    font-size: 18px;
    padding-right: 10px;
    text-align: right;
    margin:0;
    width:40%;
}
.discount {
	color:#e24602;
    font-size: 14px;
    text-decoration:line-through;
   
}
.shop-item-info h4 {
    margin: 0;

}
.shop-top {
	margin-top: 70px;
}
.shop-sale {
	margin-top: 75px;
}
            /* Brands*/
.brands {
	 margin-top: 30px;
    background: #fff;
}
.brands ul{
    display: flex;
    padding: 0;
    margin: 0;
    padding: 66px 14px;
}
.brands ul li{
	margin-right: 30px;
    
   
}
.brands ul li:last-child{
    margin-right: 0px;
}
.brands ul li a{
    height:28px;
    width:116px;
    display: block;
    background: url(../img/brands.png) no-repeat;
}
.brands ul li a:hover{
    opacity: .7;
   
}
                /*Insta*/
.insta { text-align: center;
background: #eaeaea;
}
.insta h3{
    font-weight: 900;
	font-style: italic;
    font-size: 22px;
    margin:0;
    padding-top: 53px;
    padding-bottom: 24px;
    position: relative;
    display: inline-block;
}
.insta h3:before{
	content: '';
    background: url(../img/insta.png);
    position: absolute;
    width:28px;
    height: 28px;
    left:-35px;
    
}
.insta h3 span{
    font-size: 18px;
    
}
.insta ul{
    padding:0;
    margin:0;
    display: flex;
    padding-bottom: 60px;
}
.insta ul li{
    margin-right: 12px;
}
.insta ul li:hover{
     transform: scale(1.04);
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -ms-transform: scale(1.04);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.insta ul li:last-child{
    margin-right: 0;
}
.insta ul li a{
    display: block;
}

.insta ul li a  img{
    display: block;
}
                /*Social*/
.social ul{
    padding:0;
    margin:0;
    display: flex;
}
.social li:hover{
    opacity: .7;
} 
.social-fb {
	position: relative;
    height: 150px;
    width:390px;
    background: #3b5997;
}
.social-fb a{
    display: block;
    width:100%;
    height: 100%;
}
.social-fb a:after{
    content: '';
    position: absolute;
    top:35%;
    right:50%;
     width: 30px; height: 62px;
	background: url(../img/socialbig_sprite.png) -5px -5px;
}
.social-tw{
	position: relative;
    height: 150px;
    width:390px;
    background: #3fccfd;
}
.social-tw a{
    display: block;
    width:100%;
    height: 100%;
}
.social-tw a:after{
    content: '';
    position: absolute;
    top:40%;
    right:40%;
    width: 64px; height: 52px;
	background: url(../img/socialbig_sprite.png) -45px -5px;
}
.social-pi{
	position: relative;
    height: 150px;
    width:390px;
    background: #cb2027;
}
.social-pi a{
    display: block;
    width:100%;
    height: 100%;
}
.social-pi a:after{
    content: '';
    position: absolute;
    top:35%;
    right:40%;
    width: 64px; height: 64px;
	background: url(../img/socialbig_sprite.png) -119px -5px;
}
